---
name: QA

on:
  workflow_call:

permissions:
  contents: read

jobs:
  lint:
    name: Ruff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v6

      - name: Run ruff check
        run: uvx ruff check .

      - name: Run ruff format check
        run: uvx ruff format --check .
